.contacts {
  height: 120vh;
}

.contacts__item span,
.contacts__link {
  padding-left: 10px;
}

.contacts__link-btn {  
  border: 1px solid var(--grey-color);
  text-align: center;
  margin-left: 10px;
  padding: 3px 10px;
  border-radius: 5px;
  background-color: var(--opacity-grey-color);
}

.contacts__item:not(:last-child) {
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  } 
}

@media (max-width: 480px) {
  .contacts__list {
    font-size: 14px;
  }
  .contacts__item:not(:last-child) {
    margin-bottom: 8px;
  }
}